<article class="max-w-5xl mx-auto px-4 lg:px-6 py-24 relative">
    <header class="max-w-3xl mx-auto">
        {{ tags }}
            <a href="{{ url }}" class="px-3 py-1 text-gray-100 font-bold bg-yellow-400 transition hover:bg-orange-500 rounded-full inline-block mb-8">{{ title }}</a>
        {{ /tags }}
        <h1 class="text-5xl md:text-6xl lg:text-7xl tracking-tight text-black font-bold">{{ title }}</h1>
        <div class="flex items-center mt-12">
            <img src="{{ author:avatar }}" alt="{{ author:avatar:alt }}" class="rounded-full h-16 w-16">
            <div class="ml-6">
                <div>{{ date }}</div>
                <div>By <a href="" class="font-bold text-black">{{ author:name }}</a></div>
            </div>
        </div>
    </header>

    <figure class="mt-12">
        <img  src="{{ glide:featured_image width="1800" height="1200px" filter="greyscale" sharpen="100" }}" alt="{{ featured_image:alt }}" class="rotate-2 rounded-xl">
    </figure>

    <section class="max-w-3xl mx-auto mt-12 content article">
       {{ article_content }}
    </section>
</article>
